/* body{
    background-color: gray;
} */

.span{
    background-color: aliceblue;
    padding-top: 18px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px 2px #555;
}

.span1{
  margin-bottom: 15px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 2px 3px 4px 2px #555;
  width: auto;
}